@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  font-family: orbitron, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
}
form{
  font-family: "Montserrat";
}